

header,footer{
    background-color: white;
    padding: 1em;
   
}

ul {
 color: whitesmoke;
 list-style-type: circle;
}


nav h1 {
   font-style: italic;
   color: white;
}

nav ul{
    font-style: oblique;
color: white;
}

.lista1 {
    list-style-type:none
    
}

li {
    color: white;
}

.navbar {
    padding: 10px;
    margin-top: 20px;
    color: black;
}

.row {
    margin-top: 20px;
    margin-left: auto;
}

#kuvasivu.row {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#yhteystiedot2.row {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    
}

#teksti {
    background-color: green;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    flex: 1;
    
}

#carousel .carousel-item img {
    width: 100%;
    height: 600px;
}

#kokoalakerta {
margin-inline: 15px;

}

#alakerta {
    border-radius:10px;
padding: 10px;
background-color:green;
font-family: Arial, Helvetica, sans-serif;
}

#alakerta1 {
    border-radius:10px;
padding: 10px;
margin-inline: 15px;
background-color:green;
font-family: Arial, Helvetica, sans-serif;
}

#alakerta2 {
    border-radius:10px;
padding: 10px;
background-color:green;
font-family: Arial, Helvetica, sans-serif;
list-style-type: none;
}


h1 {
    color: whitesmoke;
    }

p {
    color: whitesmoke;
   
}

h2 {
    font-size: large;
    text-align: center;
    margin-top: 10px;
    color: white;
}


h3 {
    text-align: center;
    color: white;
}

#otsikko {
    background-color: green;
    padding: 1px;
    margin-top: 10px;
}

h5 {
    font-style: oblique;
}

#kontti2 {
    margin-bottom: 200px;
    background-color: green;
    text-align: center;

}


p {
    color: whitesmoke;
}

#yhteystiedot {
    background-color: GREEN;
}

#OSOITE {
    background-color: white;
}